.tabs-container {
    background-color: var(--white-color);
    width: 560px;
    height: 42px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
}

.tab {
    height: 32px;
    padding: 2px 15px;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tab:hover {
    background-color: #f2f2f2;
}

.active-tab {
    background-color: var(--tabs-background-color);
}

.tab-text {
    color: var(--black-color);
    font-size: 16px;
    font-family: var(--manrope);
    position: relative;
    top: 5px;
}

.active-tab-text {
    color: var(--primary-color);
}