.tempContacts-page-container {
    padding-bottom: 20px;
}

.tempContacts-page-actions-buttons {
    width: 400px !important;
    height: 42px !important;
    gap: 10px !important;
    margin-right: 20px;
}

.tempContacts-page-filters {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.tempContacts-page-filters select {
    padding: 8px;
    border: 1px solid var(--card-border);
    border-radius: 4px;
    width: 150px;
}

/* Contacts Grid */
.tempContacts-page-contacts {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Contact Card */
.tempContacts-page-contact-card {
    border: 1px solid var(--card-border);
    border-radius: 8px;
    padding: 0px 16px 16px 16px;
    width: 310px;
    background-color: var(--white-color);
}

.tempContacts-page-contact-card h3 {
    margin-bottom: 0px;
}

.tempContacts-page-contact-card p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}

/* Contact Details */
.tempContacts-page-contact-details {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    gap: 5px;
}

.tempContacts-address-container {
    border: 1px solid var(--card-border);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--input-field-background-color);
    font-size: 14px;
    font-weight: 400;
    color: var(--side-nav-menu-color);
    width: calc(100% - 20px);
}


/* Actions Section */
.tempContacts-page-actions {
    margin-top: 10px;
    align-items: center;
}

.tempContacts-page-edit-button,
.tempContacts-page-delete-button,
.tempContacts-page-call-button {
    background-color: #F5F7FA;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 12px;
    cursor: pointer;
    margin-top: 10px;
}


/* @media (min-width: 768px) {


    .tempContacts-page-contact-card {
        width: 48%;
       
    }
} */



/* @media (min-width: 1024px) {

    
    .tempContacts-page-contact-card {
        width: 28.5%;
       
    }
}


@media screen and (max-width: 1400px) and (min-width: 1600px) {
    .tempContacts-page-contact-card {
        width: 8.8%;
      
    }
}

@media screen and (max-width: 1600px) and (min-width: 2000px) {

    .tempContacts-page-contact-card {
        width: 21.8%;
       
    }
} */

/* Create Temporary Contact Popup */
.createTemporaryContactPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--input-field-background-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.24);
    padding: 30px 20px;
    z-index: 1000;
    width: 700px;
}

.createTemporaryContactPopup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.createTemporaryContactPopup-header h2 {
    margin: 0;
}

.createTemporaryContactPopup-header button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

/* Form styles */
.createTemporaryContactPopup form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.createTemporaryContactPopup input,
.createTemporaryContactPopup select {
    margin-bottom: 15px;

    border: 1px solid var(--card-border);
    border-radius: 4px;
    width: calc(100% - 20px);
    margin-top: 5px;
}

.createTempContactPopup-error {
    margin-top: -10px;
}