.search-in-table-sales-order-page {
    display: flex;
    align-items: center;
    gap: 10px;
}


.sales-order-customize-btn {
    padding: 8px 16px;
    background-color: var(--light-gray-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 16px;
}

.sales-order-cancel-btn,
.sales-order-apply-btn {
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.sales-order-cancel-btn {
    background-color: var(--light-gray-color);
    border: 1px solid var(--border-color);
}

.sales-order-apply-btn {
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
}

.sales-order-header-item input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

.sales-order-header-item span {
    font-family: var(--montserrat);
    font-size: 14px;
    color: var(--card-heading-text-color);
}

.sales-order-popup-header h3 {
    font-family: var(--montserrat);
    font-size: 16px;
    font-weight: var(--semi-bold);
    color: var(--black-color);
}