/* Sidebar container */
.sidebar {
    min-height: 100vh;
    background-color: var(--main-background-color);
    padding: 15px 10px;
    min-width: 210px !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-x: hidden !important;
}

/* Menu item style */
.menu-item {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.menu-item.selected {
    background-color: #C0DEFF;
    color: #007bff;
}

/* Text style */
.menu-item-text {
    font-size: 14px;
    color: var(--side-nav-menu-color);
    font-family: var(--manrope);
    margin-left: 10px;
}

/* Style for selected menu item text */
.menu-item.selected .menu-item-text {
    color: #007bff;
}

/* Icon image style */
.icon-image {
    width: 18px;
    height: 18px;
}

/* Default icon will be hidden when the item is selected */
.menu-item.selected .default-icon {
    display: none;
}

/* Hide white icons by default */
.hide-on-default {
    display: none;
}

/* Show white icon only when active */
.menu-item.selected .active-icon {
    display: block !important;
}

.commoncss {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.submenu {
    padding-left: 20px;
}

.submenu-item {
    display: block;
    padding: 8px 10px;
    color: #000;
    text-decoration: none;
    font-family: var(--manrope);
    font-size: 14px;
    border-radius: 5px;
    margin-top: 5px;
}

.submenu-item.selected {
    background-color: #C0DEFF;
    color: #007bff;
}