@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
  color-scheme: light dark;
  background-color: #F5F7FA;


  /* colors */
  --primary-color: #007BFF;
  --secondary-color: #6c757d;
  --main-background-color: #F5F7FA;
  --side-nav-menu-color: #1A1A1A;
  --card-border: #E0E0E0;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --tabs-background-color: #E4F1FF;
  --card-heading-text-color: #4A4A4A;
  --sales-graph-color: #007BFF4D;
  --green-color: #28A745;
  --input-field-background-color: #F5F7FA;
  --red-color: #EF4444;

  /* fonts family */
  --manrope: 'Manrope', sans-serif;
  --montserrat: 'Montserrat', sans-serif;

  /* fonts weight */
  --bold: 700;
  --semi-bold: 600;
  --extra-semi-bold: 500;

  --table-header-color: #A7A5A5;
  --table-header-backgroung-color: #F7F7F7;
  --table-border-color: #BEBCBC;
  --popup-background-color: #F5F7FA;
}

.mt-2 {
  margin-top: 2px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.pt-2 {
  padding-top: 2px;
}

.pt-3 {
  padding-top: 3px;
}

.pt-4 {
  padding-top: 4px;
}

.pt-5 {
  padding-top: 5px;
}

.border-radius {
  border-radius: 5px;
}

.box-shadow {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cursor {
  cursor: pointer;
}

.black-color {
  color: var(--black-color);
}

.font-weight_600 {
  font-weight: var(--semi-bold);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  overflow-x: hidden;
}

.commonHeaderDashboard {
  font-family: var(--montserrat);
  font-size: 24px;
  font-weight: var(--semi-bold);
  line-height: 29.26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

.flex {
  display: flex;
  justify-content: space-between;
}

.commonButtonCss {
  background-color: var(--primary-color);
  color: #FFF;
  border: none;
  font-family: var(--montserrat);
  padding: 10px 10px;
  font-size: 14px;
  font-weight: var(--extra-semi-bold);
  cursor: pointer;
  border-radius: 5px;
}

.pagination-container {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 20px;
  gap: 5px;
}

.pagination-button {
  border: 1px solid #A5A5A5;
  border-radius: 5px;
  padding: 4px 15px;
  cursor: pointer;
  background-color: #fff;
  color: #A5A5A5;
  font-size: 14px;
  font-family: var(--manrope);
}

.pagination-button.active {
  background-color: #D2DFFA;
  color: var(--primary-color);
  border: 1px solid #007BFF;
}

.pagination-ellipsis {
  padding: 5px 10px;
  color: #A5A5A5;
}

.pagination-button:disabled {
  cursor: not-allowed;
  color: #A5A5A5;
  background-color: #FFF;
}